.Certification {
    width: 700px !important;
    height: 500px !important;
    background-image: url("https://res.cloudinary.com/dxlzzgbfw/image/upload/v1717153008/Group_1499_bzt9p7.svg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: white !important;
    padding: 10px !important;
    font-family: Arial !important;
}

.CertificationContainer {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    padding: 10px !important;
    align-items: center !important;
    border: 1px solid #085186 !important;
    height: 415px !important;
    width: 600px !important;
    background-color: white !important;
    box-shadow: 2px 2px 5px grey !important;
    position: relative !important;
}

.certificationLogo {
    width: 140px !important;
}

.certificateTopDiv {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.certificateBottomDiv {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.certificationName {
    font-size: 22px !important;
    font-weight: 700 !important;
    color: #394955 !important;
    text-align: center !important;
    margin: 0 !important;
    font-family: Arial !important;
}

.certificationName2 {
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #394955 !important;
    text-align: center !important;
    margin: 0 !important;
    font-family: Arial !important;
}

.fontStyle {
    font-size: 12px !important;
    color: #767676 !important;
    line-height: 24px !important;
    margin: 0 !important;
    font-family: Arial !important;
}

.boldFontStyle {
    font-size: 12px !important;
    color: #000000 !important;
    line-height: 24px !important;
    margin: 0 !important;
    font-family: Arial !important;
}

.spanStyle {
    font-weight: 700 !important;
    color: black !important;
    font-size: 12px !important;
    font-family: Arial !important;
}

.certifacateDetails {
    margin: 5px !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
}

.studentName {
    text-align: center !important;
    margin: 2px !important;
    font-size: 20px !important;
    font-weight: 500 !important;
    font-family: 'Times New Roman', Times, serif !important;
}

.borderbottom {
    border-bottom: 1px solid #464646 !important;
    margin-top: -5px !important;
    width: 300px !important;
}

.signaturesDiv {
    display: flex !important;
    justify-content: space-between !important;
    width: 500px !important;
    align-items: center !important;
}

.fontStyle3 {
    font-size: 12px !important;
    color: #999999 !important;
    font-weight: 600 !important;
    text-align: center !important;
    font-family: Arial !important;
}

.fontStyle4 {
    font-size: 12px !important;
    text-align: center !important;
    font-family: Arial !important;
    margin: 0 !important;
    font-weight: 500 !important;
}

.margin0 {
    margin: 0 !important;
}

.digitalSingnature {
    width: 60px !important;
    height: 60px !important;
}

.address {
    font-size: 8px !important;
    color: #848484 !important;
    text-align: center !important;
    margin: 0 !important;
    margin-top: 10px !important;
    font-family: Arial !important;
}

.imgStyle {
    width: 60px !important;
    height: 60px !important;
}