@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto';
  font-size: 14px;
}


:root {
  --primary-color: #007bff;
  --secondry-color: #F0F4FF;

  /* sidebar colors*/

  --sidebar-bg-color: #0d1821;
  --sidebar-acitve-tab: #3989B8;
  --sidebar-subTab-color: #264052;
  --table-header-bg-color: #085186;

  --skill-card-bg-color: linear-gradient(180deg, #02012E 0%, #060513 100%);
  /* --breadcrumb-bg-color: */

  /* --sidebar-bg-color: #0d1821;
  --table-header-bg-color: #085186; */
}

::-webkit-scrollbar {
  width: 0px;
}